- cache( @offer ) do
	
	%section.mainContent.clearfix{ style: "background: url(#{@offer.cover_image}) no-repeat fixed center;" }

		.jumbotron.text-center{ style: 'margin-top: 5em; margin-bottom: 10em; background-color:rgba(255, 255, 255, 0.85);' }
			.container
				.row
					.col-xs-12
						%h1
							= @offer.title
						%p
							= raw @offer.description

						= form_for SwellMedia::Optin.new, url: swell_media.optins_path, role: :form, class: 'form-inline'  do |f|
							= f.hidden_field :offer_id, value: @offer.slug
							.row
								.col-xs-12.col-sm-6.col-sm-offset-3
									.form-group
										= f.text_field :name, placeholder: 'Your Name', class: 'form-control'
									.form-group
										= f.text_field :email, placeholder: 'Email', class: 'form-control'

									= f.submit @offer.submit_label, class: "btn btn-lg btn-primary btn-filled"







